/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-position: center;
  background-size: cover;
  back
}

main {
  flex-grow: 1;
}

label {
  display: block;
}

.input-width {
  min-width: 90%;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}