/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-position: center;
  background-size: cover;
}

main {
  flex-grow: 1;
}

label {
  display: block;
}

.input-width {
  min-width: 90%;
}

.attribution-shadow {
  text-shadow: 0px 0px 5px black;
}

.quote-author {
  opacity: 0;
}

.quote-author {
  opacity: 0;
}

.quote-author-reveal:hover+div {
  opacity: 100;
  transition: opacity 1s ease;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}